@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: borderbox;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
#container{
    width: 90vw;
    height: 100vh;
    text-emphasis: center;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}
.card {
    border-radius: 50px;
    margin: 20px;
    flex: 0.5;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    transition: flex 700ms ease-in;
}
.card h3 {
    position: absolute;
    bottom:30px;
    left: 30px;
    font-size: 22px;
    color: #fff;
    opacity:0 
}
.card.active h3{
    opacity:1;
    transition: opacity 0.3s ease-in 0.4s;
}
.card.active{
    flex: 5;
}
@media (max-width: 700px){
    .container{
        width: 100vh;
    }
    .card:nth-of-type(4),
    .card:nth-of-type(5){
        display:none;
    }
}